<header>
    <div id="icon">
        <a  href="{{ url_for('Home_index') }}" >
            <span style="margin-left: 5px; margin-right: 5px; margin-top: auto; margin-bottom: auto;">Health Prediction</span>
        </a>  
    </div>
    <div id="covid" class = "cvd" style = "color: red;">
        <span  class = "Covid" style="margin-left: 5px; margin-right: 5px; margin-top: auto; margin-bottom: auto;">Covid Prediction</span>
    </div>
    <div id="covid" class = "alz">
        <span class = "Alzhaimer" style="margin-left: 5px; margin-right: 5px; margin-top: auto; margin-bottom: auto;">Alzhaimer Prediction</span>
    </div>
</header>